* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('fonts/gilroy-bold.eot');
	src: url('fonts/gilroy-bold.woff') format('woff'),
    url('fonts/gilroy-bold.ttf') format('truetype'), 
    url('fonts/gilroy-bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('fonts/gilroy-medium.eot');
	src: url('fonts/gilroy-medium.woff') format('woff'),
    url('fonts/gilroy-medium.ttf') format('truetype'),
    url('fonts/gilroy-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}
.container2 {
    max-width: 342px;
    margin: 0 auto;
}
.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
    border-bottom: 1px solid #828282;
}
.top-menu a {
    font-family: "Gilroy-Bold";
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-transform: capitalize;
    text-decoration: none;
}
.adaptive-menu {
    display: none;
}
.adaptive-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 0 0 0;
}
.head__prof {
    transform: translate(0px, -9px);
}    
.head__name {
    font-family: "Gilroy-Bold";
    font-size: 47px;
    line-height: 59px;
    color: #070707;
}
.head__lang {
    font-family: "Gilroy-Bold";
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: translate(26px, -32px) rotate(-90deg);
}
.t1822 {
font-family: "Gilroy-Medium";
font-size: 18px;
line-height: 22px;
color: #070707;
}
.content-img img {
    width: 100%;
    height: 100%;
    padding: 30px 0 0 0;
    object-fit: cover;
}
.about-body {
    background-color: #F6F6F6;
}
.about {
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 506px;
    
}
.about__text p {
    margin: 40px 0 40px 0;
    text-align: center;
}
.t3442 {
    font-family: "Gilroy-Bold";
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}
.skills {
    height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.skills__text {
    text-align: center;
}
.skills__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 166px;
    height: 206px;

}
.box__text {
    font-family: "Gilroy-Bold";
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.box__stars {
    display: flex;
    justify-content: space-between;
    width: 166px;
}
.portfolio-body{
    background-color: #F6F6F6;
}
.mobile{
    display: none;
}
.example__icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.protfolio__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 2028px;
}
.portfolio__title {
    padding: 110px 0 0 0;
}
.example__text {
    font-family: "Gilroy-Medium";
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}
.example {
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-menu__block-one {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-menu__block-two {
    height: 125px;
}
.footer-menu__text {
    text-align: center;
}
.msg {
    width: 180px;
    height: 42px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: "Gilroy-Bold";
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 25px;
}
.footer-menu__find-me {
    display: flex;
    justify-content: space-between;
    width: 342px;
}
.footer-menu__like {
    font-family: "Gilroy-Medium";
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    margin: 114px 0 123px 0;
}
@media (max-width: 767px) {
    .skills__boxes {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 0 30px 0;
    }
    .skills{
        width: 100%;
        height: 100%;
    }
    .skills__title {
        padding: 30px 0;
    }
    .box {
        width: 50%;
        padding: 30px;
    }
    .container {
        padding: 0 15px;
    }
    .head__name {
        font-size: 44px;
    }
    .about__text p {
        margin: 25px 0 25px 0;
        text-align: center;
    }
    .about {
        height: 100%;
    }
    .portfolio__title {
        padding: 30px 0 0 0;
    }
    .protfolio__content {
        height: 100%;
    }
    .example {
        height: 100%;
    }
    .example__text {
        padding: 30px 0;
    }
    .footer-menu {
        margin: 50px 0;
    }
}    
@media (max-width: 576px) {
    .top-menu {
        display: none;
    }
    .head__name {
        font-size: 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 33px;
        height: 20px;
        cursor: pointer;
        z-index: 9;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .head__lang {
        display: none;
    }
    .adaptive-head {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: self-start;
        padding: 0;
    }
    .head {
        display: flex;
        justify-content: space-between;
        padding: 65px 0 0 0;
    }
    .container {
        max-width: 100%;
    }
    .adaptive-menu__list li {
        list-style: none;
        margin: 68px 0 0 26px;
        text-align: left;
    }
    .adaptive-menu__list a {
        text-decoration: none;
        text-transform: capitalize;
        color: #828282;
    }
    .adaptive-menu {
        background-color: rgb(255, 255, 255);
        left: 0;
        top: -100%;
        position: fixed;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        overflow: auto;
        display: block;
    }
    .adaptive-menu.active {
        top: 0;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .head__name {
        transform: translate(0px, -10px);
    }
    .slider {
        padding: 30px 0;
    }
    .content-img img {
        width: 100%;
        height: 100%;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .about {
        height: 100%;
    }
    .about__title {
        padding: 30px 0 0 0;
    }
    .about__text p {
        margin: 15px 0 15px 0;
        text-align: center;
    }
    .skills__boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 30px 0;
    }
    .skills {
        height: 100%;
   }
    .skills__text {
        padding: 15px 0 0 0;
    }
    .box {
        padding: 30px 0;
    }
    .protfolio__content {
        height: 100%;
    }
    .example {
        height: 100%;
        padding: 0 0 80px 0px;
    }
    .example__text {
        padding: 33px 0 0 0;
    }
    .portfolio__title {
        padding: 30px 0 30px 0;
    }
    .footer-menu {
        margin: 30px 0;
    }
    .footer-menu__find-me {
        width: 80%;
    }
    .t3442 {
        font-size: 26px;
    }
    .t1822 {
        font-size: 12px;
    }
}